@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-MediumItalic.ttf');
  }
  @font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('../fonts/Raleway-BoldItalic.ttf');
  }
  @font-face {
    font-family: 'Carter-One';
    src: url('../fonts/CarterOne-Regular.ttf');
  }


.brand-logo{
    font-family: 'Acme', sans-serif;
    text-shadow: 1px 1px 1px grey;

}
.nav-wrapper li a{
    font-family: 'Acme', sans-serif;

    /* font-family: "Raleway-Medium"; */
    font-size: 19px;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px grey;
}
body{
    background-image:  url("../Assets/Chat-Background.jpg") ;;
    background-size: cover;
    background-position: center center;
}
.card-panel h3{
    font-family: 'Acme';
    color: #512da8;
    text-shadow: 1px 2px 1px grey;
     margin-top: -12px;
    border-radius:  4px;
    height: 40px;
    
}.input-field input[type=text]:focus + label {
  color: #512da8 !important;
}
.input-field input[type=email]:focus + label {
    color: #512da8 !important;
  }
  .input-field .prefix.active {
    color: #512da8;
  }
  .input-field input[type=email]:focus {
    border-bottom: 1px solid #512da8 !important;
  }
  .input-field input[type=password]:focus + label {
    color: #512da8 !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #512da8 !important;
  }
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #512da8 !important;
  }
  #login-form button{
      width: 100%
  }
.card-panel{
    border-radius: 12px;
    margin-top: 08em;
    background-color: #eceff1
   
}
